<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fullscreen Quiz</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body id="interface">
  <img src="{{ url_for('static', filename='images/logo.png') }}" alt="" class="logo">
  <div id="quiz-container">

    <!-- Your quiz content goes here -->
    <h1>Welcome to Code Assist </h1>
    <br><br>
    <p>Click the button below to enter the Quiz Interface</p>
    <div class="input-field"><br>
    <!-- <label for="name">Name:</label> -->
    <!-- <h2>Name:</h2> -->
    <input type="text" id="name" name="name" placeholder="Enter your name *">
    <p class="text-danger" id="name_tag"></p><br>
    <!-- <h2>Enrollment:</h2> -->
    <!-- <label for="enrollmentNo">Enrollment No:</label> -->
    <input type="text" id="enroll" name="enrollmentNo" placeholder="Enter your enrollment number *">
    <p class="text-danger" id="enroll_tag"></p><br>
    <button id="start-quiz-btn">Start Quiz</button>
  </div>
  </div>
  <div class="thankyou">
    <h1>Thank You</h1>
    <p>See you soon..</p>
    <div class="celebration">🎉</div>
  </div>

  

  <div id="question" class="container" id="container2">
    <div class="d-flex justify-content-center row">
      <div class="col-md-10 col-lg-10">
        <div class="border">
          <div class="question bg-black p-3 border-bottom">
            <div class="d-flex flex-row justify-content-between align-items-center mcq">
              <h4>MCQ Quiz</h4>
              <div>
                <button class="switch_button">JAVA</button>
                <button class="switch_button">C++</button>
                <button class="switch_button">Python</button>
              </div>
            </div>
          </div>
          <div class="question d-flex justify-content-between bg-black p-3 border-bottom">
            <div class="d-flex flex-row align-items-center question-title">
              <!-- <h3 class="text-danger">Q.</h3> -->
              <!-- <p class="mt-1 ml-2"> -->
                <img width="400px" src="{{ url_for('static', filename='images/ques.jpg') }}" class="mt-1 ml-2" alt="">
                <!-- </p> -->
            </div>
            <div class="options">
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="ans" value="brazil"> <span>Hyper text markup
                  language</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="ans" value="Germany"> <span>Hyper markup
                  language</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="ans" value="Indonesia"> <span>Nothing</span>
              </label>
            </div>
            <div class="ans ml-2">
              <label class="radio"> <input type="radio" name="ans" value="Russian"> <span>Kuch bhi nahi</span>
              </label>
            </div>
          </div>
          </div>
          <div class="submit">
            <button id="submit_button">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <p id="message"></p>
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>