<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <h1>Basic Html Form</h1>
    <form action="">
        <label for="java">
            Java : <input type="text" name="java" id="" placeholder="java">
        </label>
        <br>
        <label for="python">
            Python : <input type="text" name="python" id="" placeholder="Python">
        </label>
        <br>
        <label for="cpp">
             CPP : <input type="text" name="cpp" id="" placeholder="CPP">
        </label>
        <br>
        <label for="option1">
           Option 1 :  <input type="text" name="option1" id="" placeholder="option1">
        </label>
        <br>
        <label for="option2">
            Option 2 : <input type="text" name="option2" id="" placeholder="option2">
        </label>
        <br>
        <label for="option3">
            Option 3 : <input type="text" name="option3" id="" placeholder="option3">
        </label>
        <br>
        <label for="option4">
            Option 4 : <input type="text" name="option4" id="" placeholder="option4">
        </label>
    </form>
</body>
</html>