<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
        <label for="java">
            Java : <input type="text" id="java" placeholder="java">
        </label>
        <br>
        <label for="python">
            Python : <input type="text" id="python"  placeholder="Python">
        </label>
        <br>
        <label for="cpp">
             CPP : <input type="text" id="cpp"  placeholder="CPP">
        </label>
        <br>
        <label for="option1">
           Option 1 :  <input type="text" id="a" placeholder="option1">
        </label>
        <br>
        <label for="option2">
            Option 2 : <input type="text" id="b" placeholder="option2">
        </label>
        <br>
        <label for="option3">
            Option 3 : <input type="text" id="c" placeholder="option3">
        </label>
        <br>
        <label for="option4">
            Option 4 : <input type="text" id="d" placeholder="option4">
        </label>
        <button type="submit" onclick="submitForm()">SUBMIT</button>
    <script>
        function submitForm() {
            // Get form data
            var java = document.getElementById('java').value;
            var python = document.getElementById('python').value;
            var cpp = document.getElementById('cpp').value;
            var option1 = document.getElementById('a').value;
            var option2 = document.getElementById('b').value;
            var option3 = document.getElementById('c').value;
            var option4 = document.getElementById('d').value;
    
            // Construct JSON object
            var formData = {
                'java': java,
                'python': python,
                'cpp': cpp,
                'a': option1,
                'b': option2,
                'c': option3,
                'd': option4
            };
    
            // Send form data as JSON using fetch API
            fetch('/pushdata', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.text())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        }
    </script>
    
</body>
</html>